# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.x

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.bin
*.bout

/src/sdsl
/src/sdslsrc
/src/sdsl/*
/src/sdslsrc/*
examples
/examples/*

test.integers
test.*

/repairs/repair110811/despair
/repairs/repair110811/repair
/repairs/repairnavarro/despair
/repairs/repairnavarro/heap.o
/repairs/repairnavarro/idespair
/repairs/repairnavarro/irepair
/repairs/repairnavarro/repair
/repairs/repairnavarro/toint
/repairs/repairnavarro/repair.tgz


.vscode/*
.vscode/settings.json

.vscode

.vs

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CTestTestfile.cmake
Makefile
cmake_install.cmake
*.cmake
*.tcl

Testing/

TextFile/
*.txt

*.txt.C
*.txt.R

debugging.txt
out.txt

.fuse_*

myenv/
myvenv/
grammar-self-index/
grammar-self-index
myvenv/bin/python
myvenv/bin/python3
myvenv/bin/python3.12
myvenv/lib64
textfile/gsi-results
